[Unit]
Description=My Jukebox Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/rapyjubo/jukeBoxDaemon4.py > /home/pi/rapyjubo/jukeBoxDaemon.log 2>&1
Restart=always

[Install]
WantedBy=multi-user.target